<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- this is header-css -->
    <div th:fragment="header-css">
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
              name="viewport"/>

        <title th:attr="data-custom=#{thymeleaf.app.title}">Shop</title>

        <link
                href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
                media="screen"
                rel="stylesheet"
                th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
                th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

        <link href="../../css/main.css" rel="stylesheet"
              th:href="@{/css/main.css}"/>
    </div>

</head>

<body>

<!-- this is header -->
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Shop</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <!-- show shoppingCart only if user is not yet authenticated -->
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/shoppingCart}">Shopping Cart</a></li>
                    <!-- show registration only if user is not yet authenticated -->
                    <li class="nav-item active" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/registration}">Registration</a></li>
                    <!-- show login only if user is not yet authenticated -->
                    <li class="nav-item active"
                        sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Login</a></li>
                    <!-- show sign out only if user is authenticated -->
                    <li class="nav-item active"
                        sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>
