<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>

<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">
    <h1 th:if="${errorMessage}" th:utext="${errorMessage}">Error java.lang.NullPointerException</h1>
    <h1 th:if="!${errorMessage}">404 - Page does not exist</h1>
    <a href="index.html" th:href="@{/home}">Back to Home Page</a>
</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>