<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>

<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

    <h1 class="jumbotron">
        <span sec:authentication="name"></span>'s Shopping Cart
    </h1>

    <div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>

    <div class="panel-default well" th:each="product : ${products.entrySet()}">
        <div class="panel-heading">
            <h1><a th:href="@{'/product/' + ${product.getKey().id}}" th:text="${product.getKey().name}">Title</a></h1>
            <h3 th:text="${product.getKey().description}">Description</h3>
        </div>
        <div class="row panel-body">
            <div class="col-md-2" th:inline="text">Price: [[${product.getKey().price}]] $</div>
            <div class="col-md-9" th:inline="text">Quantity: [[${product.getValue()}]]</div>
            <a class="col-md-1" th:href="@{'/shoppingCart/removeProduct/{id}'(id=${product.getKey().id})}">
                <button class="btn btn-primary" th:text="Remove" type="button">Remove</button>
            </a>
        </div>
        <br></br>
    </div>

    <div class="row panel-body">
        <h2 class="col-md-11" th:inline="text">Total: [[${total}]]</h2>
        <a class="col-md-1" th:href="@{'/shoppingCart/checkout'}">
            <button class="btn btn-danger" th:text="Checkout" type="button">Checkout</button>
        </a>
    </div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>
